<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/site.css">
	<script type="module" src="https://caltechlibrary.github.io/CL-web-components/src/footer-global.js"></script>
</head>
<body>
<header>
<a href="http://library.caltech.edu" title="link to Caltech Library Homepage"><img src="/assets/liblogo.gif" alt="Caltech Library logo"></a>
</header>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="README.html">README</a></li>
    <li><a href="LICENSE">LICENSE</a></li>
    <li><a href="install.html">INSTALL</a></li>
    <li><a href="user-manual.html">User Manual</a></li>
	<li><a href="search.html">Search Docs</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="https://github.com/caltechlibrary/crossrefapi">GitHub</a></li>
</ul>
</nav>

<section>
${body}
</section>

<footer-global></footer-global>
<!-- START: PrettyFi from https://github.com/google/code-prettify -->
<script>
/* We want to add the class "prettyprint" to all the pre elements */
var pre_list = document.querySelectorAll("pre");

pre_list.forEach(function(elem) {
    elem.classList.add("prettyprint");
    elem.classList.add("linenums");/**/
    elem.classList.add("json"); /**/
});
</script>
<style>
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #555;
    list-style-type: decimal;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/prettify.css">
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_
prettify.js"></script>
<!--  END: PrettyFi from https://github.com/google/code-prettify -->
</body>
</html>
